*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  16px/28px
}

html{
    word-spacing: normal;
    color: #3e4044;
}

body {
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    margin: auto;
    max-width: 500px;
    padding: 50px;
    border-top: 40px solid #e9a615;
    border-bottom: 40px solid #e9a615;
    background-color: #fff;
    opacity: 0.98;
    margin-top: 25px;
    margin-bottom: 25px;

}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    font-size: 18px;
}

.btn{
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
    display: inline-block;
    display: block;
    margin-right: auto;
    margin-left: auto;
}



nav ul {
    background-color: #f5e8cc;
    padding: 10px 10px;
    opacity: 0.95;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

nav ul li {
    margin-right: 10px;
    cursor: pointer;
    text-decoration: underline;
}

nav ul li a {
    
    text-decoration: dashed;
    color: #e9a615;
    font-weight: bold;
    
}
nav a:hover {
    color: white;
}

#banner{
    text-align: center;
    font-weight: bold;
    background-color: #e9a615;
    opacity: 1.0;
    padding: 10px 10px;
    
}

.titulo{
    text-align: center;
    display: inline-block;
    text-align: left;
}

header {
    justify-content: space-between;
    align-items: center;
    
}

footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f7e060;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    /*box-shadow: 100px;*/
}
